parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined static method DejwCake\\LaravelSms\\Facades\\Sms\:\:send\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: tests/Functional/ServiceProviderTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''DejwCake\\\\SmsClient\\\\Contracts\\\\Client'' and DejwCake\\SmsClient\\Contracts\\Client will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Functional/ServiceProviderTest.php

