parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Mockery\\\\ExpectationInterface\\|Mockery\\\\HigherOrderMessage\\:\\:with\\(\\)\\.$#"
			count: 1
			path: tests/ServiceProviderTest.php

		-
			message: "#^Call to an undefined static method Matthewbdaly\\\\LaravelSMS\\\\Facades\\\\Sms\\:\\:send\\(\\)\\.$#"
			count: 1
			path: tests/ServiceProviderTest.php
